.page404 {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tit2 {
    padding-top: 2rem;
    text-align: center;
}

.txts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.txtG, .txtRed {
    font-size: 300px;
    color: var(--red);
    font-weight: bold;
}

.txtRed {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .txtG {
        font-size: 150px;
    }
    .txtRed {
        font-size: 1rem;
    }
}
